page-about {

    .body{
        background-color: #d9c5b2;
        font-size: larger;
    }

    h2{
        text-align:center;
    }

.use img{
    margin-left: 5%;
}

.time img {
    margin-left: 5%;
}

}
