page-register {


    .home{
         background-color: #d9c5b2;
         }
 
         .logo .img{
            margin-top: 15%;
            margin-left: 30%;
                height: 300px;
                width: 300px;}
     
     .form{
         margin-top: -20px;
         color: #d9c5b2;
         ion-item{
             border-radius: 5px;
             border-color: tan;
             border-width: 4px;
             border-style: groove;
             margin-bottom: 10px;
         }
     }
     
     
     .button{
         text-transform: none;
     }
 
 .homebtn{
     border-radius: 12px;
     background-color: #69140e;
     height: 50px;
     width: 150px;
     color: white;
     padding: 4px;
     margin: 2%;
     margin-left: 10%;
 }
 
 
 
 }
 