page-timer {

    .timer{
        background-color: #d9c5b2;
        }
        
        .grind{
            background-color: #031d44;
        }
        
        /*
        .fab{
            position:fixed;
            margin-top: 90%;
            margin-left: 90%;
            margin-right: 10%;
            margin-bottom: 70%;
        
        }
*/

}
